//================================================//
//	コミットから除外する拡張子をここに書く
//================================================//

#プロジェクト

*.ipch
*.suo
*.db
*.opendb

*.obj
*.idb
*.pdb
*.log
*.tlog

*.lastbuildstate

*.ilk
*.pdb

*.iobj
*.ipdb

*.exe

#リソース

*.xlsx

*.wav
*.mid

*.dat
*.x
*.vmd
*.pmx
*.dds

*.fbx
*.jpg
*.png
*.bmp
*.tga

*.blend
*.blend1
*.sph
*.raw

*.meta
*.vs